{% ckan_extends %}

{% import 'macros/form.html' as form %}

{% block admin_form %}

  <h3>Data request configuration options </h3>

  {{ form.input('ckan.datarequests.opendata_cockpit_administrators', id='field-ckan.datarequests.opendata_cockpit_administrators', label=_('Open Data Cockpit administrators'), value=data['ckan.datarequests.opendata_cockpit_administrators'], error=errors['ckan.datarequests.opendata_cockpit_administrators']) }}

{% endblock %}


{% block admin_form_help %}

  <p><strong>{{ _('Open Data Cockpit administrators') }}:</strong>{{ _('The list of usernames of the Open Data Cockpit administrators. (Space seperated)') }}</p>

{% endblock %}