{% if h.custom_theme_cookies_asked() %}
{% else %}
<div id="cookie-consent-container" >
    <div class="row">
        <div class="col-md-12">
            <h3>{{ _('Cookies are used on this site to improve the usability of this site.') }}</h3>
            <span>{{ _('By clicking the Accept button, you agree that we will do so. You can find out which essential cookies we use for the operation of the site in the privacy policy.') }}</span>
            <div>
                <button class="btn btn-primary" id="cookie-consent_accept">{{ _('Accept') }}</button>
                {# <button class="btn btn-secondary" id="cookie-consent_decline" style="color:rgb(0, 93, 122)">{{ _('Decline') }}</button> #}
            </div>
        </div>
    </div>
</div>
<script>
    var hide_container = function(){
        document.getElementById('cookie-consent-container').hidden = true;
        document.getElementById('cookie-consent-container').style.display = 'none';
    };

    var fn_accept = function(){
        console.log("accepted cookie");
        document.cookie = "cookie_consent=true";
        hide_container();
    }
    var fn_reject = function(){
        console.log("rejected cookie");
        document.cookie = "cookie_consent=false";
        hide_container();
    };
    document.getElementById('cookie-consent_accept').onclick = fn_accept;
    document.getElementById('cookie-consent_decline').onclick = fn_reject;
</script>
{% endif %}